NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

NEXT_PUBLIC_CONTACT_EMAIL=info@grcc.or.id
NEXT_PUBLIC_WHATSAPP_NUMBER=
NEXT_PUBLIC_PHONE_NUMBER=

NEXT_PUBLIC_PAYMENT_BANK_NAME=
NEXT_PUBLIC_PAYMENT_ACCOUNT_NUMBER=
NEXT_PUBLIC_PAYMENT_ACCOUNT_NAME=
