NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

NEXT_PUBLIC_CONTACT_EMAIL=grcc.ailg@gmail.com
NEXT_PUBLIC_WHATSAPP_NUMBER=6288298989171
NEXT_PUBLIC_PHONE_NUMBER=6288298989171
NEXT_PUBLIC_INSTAGRAM_URL=https://www.instagram.com/grcc_ailgunair/

NEXT_PUBLIC_PAYMENT_BANK_NAME=
NEXT_PUBLIC_PAYMENT_ACCOUNT_NUMBER=
NEXT_PUBLIC_PAYMENT_ACCOUNT_NAME=
